@inherits IdentityResourcesPage
@page "/admin/identityResources"
@attribute [AuthorizeForFeature(UserFeatures.Administrator)]
@layout AdminLayout

<TopSection>
    <Breadcrumbs>
        <Breadcrumb Link="/admin" Title=@L["BreadCrumbadmin"] />
        <Breadcrumb Title=@L["BreadCrumbadminidentityResources"] />
    </Breadcrumbs>
</TopSection>

<PageTitle>@L["IdentityResources"]</PageTitle>

@if (identityResources == null)
{
    <LoadingBackground>
        <label>@L["Loading"]</label>
    </LoadingBackground>
}
else
{
    <MudTable Items="@identityResources" Striped="true" Bordered="true" Dense="true" Hover="true" Elevation="2">
        <HeaderContent>
            <MudTh><MudFab Icon="@Icons.Material.Filled.Add" OnClick="@(() => navigationManager.NavigateTo("/admin/identityResource/add"))" Color="Color.Primary" Size="Size.Medium" /></MudTh>
            <MudTh>@L["Name"]</MudTh>
            <MudTh>Enabled</MudTh>
            <MudTh>Display Name</MudTh>
            <MudTh>Description</MudTh>
            <MudTh>Required</MudTh>
            <MudTh>Emphasize</MudTh>
            <MudTh>Show in discovery document</MudTh>
            <MudTh>User Claims</MudTh>
        </HeaderContent>
        <RowTemplate Context="IdentityResourceRow">
            <MudTd>
                <div style="width:155px;">
                    <MudIconButton Icon="@Icons.Material.Filled.Edit" OnClick="@(() => navigationManager.NavigateTo($"/admin/identityResource/{IdentityResourceRow.Name}"))"></MudIconButton>
                    <MudIconButton Icon="@Icons.Material.Filled.Delete" OnClick="@(() => OpenDeleteIdentityResourceDialog(IdentityResourceRow))"></MudIconButton>
                </div>
            </MudTd>
            <MudTd><div style="min-width:130px;">@IdentityResourceRow.Name</div></MudTd>
            <MudTd><MudSwitch Checked="@IdentityResourceRow.Enabled" CheckedChanged="@((bool item) => UpdateEnabled(IdentityResourceRow))" Color="Color.Primary" /></MudTd>
            <MudTd><div style="min-width:130px;">@IdentityResourceRow.DisplayName</div></MudTd>
            <MudTd><div style="min-width:130px;">@IdentityResourceRow.Description</div></MudTd>
            <MudTd><MudSwitch @bind-Checked="@IdentityResourceRow.Required" Disabled="true" Color="Color.Primary" /></MudTd>
            <MudTd><MudSwitch @bind-Checked="@IdentityResourceRow.Emphasize" Disabled="true" Color="Color.Primary" /></MudTd>
            <MudTd><MudSwitch @bind-Checked="@IdentityResourceRow.ShowInDiscoveryDocument" Disabled="true" Color="Color.Primary" /></MudTd>
            <MudTd>
                <MudChipSet>
                    @foreach (var userClaim in IdentityResourceRow.UserClaims)
                        {
                        <MudChip Text="@userClaim"></MudChip>
                        }
                </MudChipSet>
            </MudTd>
        </RowTemplate>
    </MudTable>
}

<MudDialog @bind-IsVisible="@isDeleteIdentityResourceDialogOpen" Style="z-index:100">
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.DeleteForever" Class="mr-3 mb-n1" />
            @L["Confirm Delete"]
        </MudText>
    </TitleContent>
    <DialogContent>
        @L["Are you sure you want to delete {0}?", currentIdentityResource.Name]
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="@(e => { isDeleteIdentityResourceDialogOpen = false; })">@L["Cancel"]</MudButton>
        <MudButton OnClick="@DeleteIdentityResourceAsync" Variant="Variant.Filled" Color="Color.Error">@L["Delete"]</MudButton>
    </DialogActions>
</MudDialog>