@inject IStringLocalizer<Global> L
@using System
@inject IApiClient apiClient
@inject IViewNotifier viewNotifier

<div id="required" style="display:flex; flex-direction:column; gap: 10px">
    <div style="display:flex; flex-direction:row; justify-content:left">
        <div style="display: flex; align-items: center; padding-right: 1%">Please select the Machine Learning task AutoML should perform:</div>
        <MatChipSet Choice="true" SelectedChipChanged="@OnChipChanged">
            @if (_tasks != null)
            {
                @if (_tasks.Tasks != null)
                {
                    @foreach (var item in _tasks.Tasks)
                    {
                        <MatChip Label="@item"></MatChip>
                    }
                }

            }
        </MatChipSet>
    </div>
    <div style="display:flex; flex-direction:row; justify-content:left">
        <div style="display: flex; align-items: center; padding-right: 1% ">Please select Target column:</div>
        @if (_columnNames != null)
        {
            <MatSelectItem Items="@_columnNames.ColumnNames" TValue="string" ValueChanged="@OnTargetChanged"></MatSelectItem>
        }
    </div>
    <div style="display:flex; flex-direction:row; justify-content:left">
        <div style="display: flex; align-items: center; padding-right: 1% ">Please select time limit (Optional):</div>
        @if (AutoMLRequest.RuntimeConstraints != null)
        {
            <MatNumericUpDownField @bind-Value=@AutoMLRequest.RuntimeConstraints.Runtime_limit
                                   DecimalPlaces=0>
            </MatNumericUpDownField>
            @*<input type="number" @bind="@AutoMLRequest.RuntimeConstraints.Runtime_limit" />*@
        }
    </div>
    <div style="display:flex; flex-direction:row; justify-content:left">
        <div style="display: flex; align-items: center; padding-right: 1% ">Please select number of iterations (Optional):</div>
        @if (AutoMLRequest.RuntimeConstraints != null)
        {
            <MatNumericUpDownField @bind-Value=@AutoMLRequest.RuntimeConstraints.Max_iter
                                   DecimalPlaces=0>
            </MatNumericUpDownField>
            @*<input type="number" @bind="@AutoMLRequest.RuntimeConstraints.Max_iter" />*@
        }
    </div>
</div>

<MatDivider style="padding: 1%"></MatDivider>

<h4 style="padding-top: 1%">Advanced</h4>

<MatChipSet Choice="true" SelectedChipChanged="@OnChipAutoMLSolutionChanged">
    @if (_compatibleAutoMl != null && _compatibleAutoMl.AutoMlSolutions.Count != 0)
    {
        <p>Please select ML Solution :</p>
        @foreach (var item in _compatibleAutoMl.AutoMlSolutions)
        {
            <MatChip Label="@item"></MatChip>
        }
    }
</MatChipSet>
<MatChipSet Choice="true" SelectedChipChanged="@OnChipAutoMLSolutionChanged">
    @if (_supportedMlLibraries != null && _supportedMlLibraries.MlLibraries.Count != 0)
    {
        <p>Please select ML Lib :</p>
        @foreach (var item in _supportedMlLibraries.MlLibraries)
        {
            <MatChip Label="@item"></MatChip>
        }
    }
</MatChipSet>

@code {
    private GetDatasetCompatibleTasksResponseDto _tasks;
    private GetCompatibleAutoMlSolutionsResponseDto _compatibleAutoMl;
    private GetTabularDatasetColumnNamesResponseDto _columnNames;
    private GetSupportedMlLibrariesResponseDto _supportedMlLibraries;

    [Parameter]
    public StartAutoMLRequestDto AutoMLRequest { get; set; }

    [Parameter]
    public EventCallback<StartAutoMLRequestDto> AutoMLRequestChanged { get; set; }
    /// <summary>
    /// Trigger to start examination for IsNextStepApproved in Parent
    /// </summary>
    [Parameter]
    public EventCallback CheckForNextStepCallback { get; set; }

    protected override async void OnInitialized()
    {
        await LoadData();

        ((AutoMLTabularDataConfiguration)AutoMLRequest.Configuration).Target = new AutoMLTarget();
        AutoMLRequest.RuntimeConstraints = new AutoMLRuntimeConstraints();
        AutoMLRequest.RuntimeConstraints.Runtime_limit = 5;
        AutoMLRequest.RuntimeConstraints.Max_iter = 5;
    }
    private async void OnChipMLLibChanged(MatChip newChip)
    {
        // TODO later, wait backend team
        UpdateParent();
    }
    private async void OnChipAutoMLSolutionChanged(MatChip newChip)
    {
        // TODO later, wait backend team
        UpdateParent();
    }
    private async void OnChipChanged(MatChip newChip)
    {
        // TODO fix 2 times called bug (it effects perfomance)
        AutoMLRequest.Task = newChip.Label;
        try
        {
            Dictionary<string, string> dictionary = new Dictionary<string, string>();
            dictionary.Add("task", AutoMLRequest.Task);
            GetCompatibleAutoMlSolutionsRequestDto compatibleAutoMlRequest = new GetCompatibleAutoMlSolutionsRequestDto { Configuration = dictionary };
            ApiResponseDto apiResponse = await apiClient.GetCompatibleAutoMlSolutions(compatibleAutoMlRequest);

            if (apiResponse.IsSuccessStatusCode)
            {
                _compatibleAutoMl = Newtonsoft.Json.JsonConvert.DeserializeObject<GetCompatibleAutoMlSolutionsResponseDto>(apiResponse.Result.ToString());
                StateHasChanged();
                viewNotifier.Show(apiResponse.Message, ViewNotifierType.Success, L["Operation Successful"]);
            }
            else
            {
                viewNotifier.Show(apiResponse.Message + " : " + apiResponse.StatusCode, ViewNotifierType.Error, L["Operation Failed"]);
            }

            GetSupportedMlLibrariesRequestDto supportedMlLibrariesRequest = new GetSupportedMlLibrariesRequestDto { Task = AutoMLRequest.Task };
            apiResponse = await apiClient.GetSupportedMlLibraries(supportedMlLibrariesRequest);

            if (apiResponse.IsSuccessStatusCode)
            {
                _supportedMlLibraries = Newtonsoft.Json.JsonConvert.DeserializeObject<GetSupportedMlLibrariesResponseDto>(apiResponse.Result.ToString());
                StateHasChanged();
                viewNotifier.Show(apiResponse.Message, ViewNotifierType.Success, L["Operation Successful"]);
            }
            else
            {
                viewNotifier.Show(apiResponse.Message + " : " + apiResponse.StatusCode, ViewNotifierType.Error, L["Operation Failed"]);
            }
        }
        catch (Exception ex)
        {
            viewNotifier.Show(ex.GetBaseException().Message, ViewNotifierType.Error, L["Operation Failed"]);
        }
        UpdateParent();
    }

    private async void OnTargetChanged(string value)
    {
        ((AutoMLTabularDataConfiguration)AutoMLRequest.Configuration).Target.Target = value;
        foreach (KeyValuePair<string, Server.DataType> kvp in ((AutoMLTabularDataConfiguration)AutoMLRequest.Configuration).Feartures)
        {
            if (kvp.Key == value)
            {
                ((AutoMLTabularDataConfiguration)AutoMLRequest.Configuration).Target.Type = kvp.Value;
                break;
            }
        }
        UpdateParent();
    }

    private async void UpdateParent()
    {
        await AutoMLRequestChanged.InvokeAsync(AutoMLRequest);
        await CheckForNextStepCallback.InvokeAsync();
    }

    private async Task LoadData()
    {
        try
        {

            GetTabularDatasetColumnNamesRequestDto columnRequest = new GetTabularDatasetColumnNamesRequestDto { DatasetName = AutoMLRequest.DatasetName };
            ApiResponseDto apiResponse = await apiClient.GetTabularDatasetColumnNames(columnRequest);
            if (apiResponse.IsSuccessStatusCode)
            {
                _columnNames = Newtonsoft.Json.JsonConvert.DeserializeObject<GetTabularDatasetColumnNamesResponseDto>(apiResponse.Result.ToString());
                StateHasChanged();
                viewNotifier.Show(apiResponse.Message, ViewNotifierType.Success, L["Operation Successful"]);
            }
            else
            {
                viewNotifier.Show(apiResponse.Message + " : " + apiResponse.StatusCode, ViewNotifierType.Error, L["Operation Failed"]);
            }

            _tasks = new GetDatasetCompatibleTasksResponseDto();
            GetDatasetCompatibleTasksRequestDto taskRequest = new GetDatasetCompatibleTasksRequestDto { DatasetName = AutoMLRequest.DatasetName };
            apiResponse = await apiClient.GetDatasetCompatibleTasks(taskRequest);

            if (apiResponse.IsSuccessStatusCode)
            {
                _tasks = Newtonsoft.Json.JsonConvert.DeserializeObject<GetDatasetCompatibleTasksResponseDto>(apiResponse.Result.ToString());
                StateHasChanged();
                viewNotifier.Show(apiResponse.Message, ViewNotifierType.Success, L["Operation Successful"]);
            }
            else
            {
                viewNotifier.Show(apiResponse.Message + " : " + apiResponse.StatusCode, ViewNotifierType.Error, L["Operation Failed"]);
            }
        }
        catch (Exception ex)
        {
            viewNotifier.Show(ex.GetBaseException().Message, ViewNotifierType.Error, L["Operation Failed"]);
        }
    }
}
