@inject IStringLocalizer<Global> L
@using System
@inject IApiClient apiClient
@inject IViewNotifier viewNotifier

<h3>Configuration</h3>

<MatAccordion>
    <MatExpansionPanel>
        <MatExpansionPanelSummary>
            <MatExpansionPanelHeader>Required</MatExpansionPanelHeader>
        </MatExpansionPanelSummary>
        <MatExpansionPanelDetails>
            <p>Please select the Machine Learning task AutoML should perform:</p>
            <MatChipSet Choice="true" SelectedChipChanged="@OnChipChanged">
                @if (_tasks != null)
                {
                    @if (_tasks.Tasks != null)
                    {
                        @foreach (var item in _tasks.Tasks)
                        {
                            <MatChip Label="@item"></MatChip>
                        }
                    }

                }
            </MatChipSet>

            <p>Please select Target column:</p>
            @if (_columnNames != null)
            {
                <MatSelectItem Items="@_columnNames.ColumnNames" TValue="string" ValueChanged="@OnTargetChanged"></MatSelectItem>
            }

            <p>Please select Time (Optinal):</p>
            @if (AutoMLRequest.RuntimeConstraints != null)
            {
                <input type="number" @bind="@AutoMLRequest.RuntimeConstraints.Runtime_limit" />
            }
            <p>Please select number of Iterations (Optinal):</p>
            @if (AutoMLRequest.RuntimeConstraints != null)
            {
                <input type="number" @bind="@AutoMLRequest.RuntimeConstraints.Max_iter" />
            }

        </MatExpansionPanelDetails>
    </MatExpansionPanel>
    <MatExpansionPanel>
        <MatExpansionPanelSummary>
            <MatExpansionPanelHeader>Optional</MatExpansionPanelHeader>
            <MatExpansionPanelSubHeader>For experts</MatExpansionPanelSubHeader>
        </MatExpansionPanelSummary>
        <MatExpansionPanelDetails>
            <MatChipSet Choice="true" SelectedChipChanged="@OnChipAutoMLSolutionChanged">
                @if (_compatibleAutoMl != null && _compatibleAutoMl.AutoMlSolutions.Count != 0)
                {
                    <p>Now, Please select ML solution :</p>
                    @foreach (var item in _compatibleAutoMl.AutoMlSolutions)
                    {
                        <MatChip Label="@item"></MatChip>
                    }
                }
            </MatChipSet>
            <MatChipSet Choice="true" SelectedChipChanged="@OnChipAutoMLSolutionChanged">
                @if (_supportedMlLibraries != null && _supportedMlLibraries.MlLibraries.Count != 0)
                {
                    <p>Now, Please select ML lib :</p>
                    @foreach (var item in _supportedMlLibraries.MlLibraries)
                    {
                        <MatChip Label="@item"></MatChip>
                    }
                }
            </MatChipSet>
        </MatExpansionPanelDetails>
    </MatExpansionPanel>
</MatAccordion>


<h4>Optional</h4>

@code {
    private GetDatasetCompatibleTasksResponseDto _tasks;
    private GetCompatibleAutoMlSolutionsResponseDto _compatibleAutoMl;
    private GetTabularDatasetColumnNamesResponseDto _columnNames;
    private GetSupportedMlLibrariesResponseDto _supportedMlLibraries;

    [Parameter]
    public StartAutoMLRequestDto AutoMLRequest { get; set; }

    [Parameter]
    public EventCallback<StartAutoMLRequestDto> AutoMLRequestChanged { get; set; }
    /// <summary>
    /// Trigger to start examination for IsNextStepApproved in Parent
    /// </summary>
    [Parameter]
    public EventCallback CheckForNextStepCallback { get; set; }

    protected override async void OnInitialized()
    {
        await LoadData();

        ((AutoMLTabularDataConfiguration)AutoMLRequest.Configuration).Target = new AutoMLTarget();
        AutoMLRequest.RuntimeConstraints = new AutoMLRuntimeConstraints();
        AutoMLRequest.RuntimeConstraints.Runtime_limit = 5;
        AutoMLRequest.RuntimeConstraints.Max_iter = 5;
    }
    private async void OnChipMLLibChanged(MatChip newChip)
    {

        // TODO later, wait backend team
        UpdateParent();
    }
    private async void OnChipAutoMLSolutionChanged(MatChip newChip)
    {
        // TODO later, wait backend team
        UpdateParent();
    }
    private async void OnChipChanged(MatChip newChip)
    {
        // TODO fix 2 times called bug (it effects perfomance)
        AutoMLRequest.Task = newChip.Label;
        try {
            Dictionary<string, string> dictionary = new Dictionary<string, string>();
            dictionary.Add("task",AutoMLRequest.Task);
            GetCompatibleAutoMlSolutionsRequestDto compatibleAutoMlRequest = new GetCompatibleAutoMlSolutionsRequestDto { Configuration = dictionary };
            ApiResponseDto apiResponse = await apiClient.GetCompatibleAutoMlSolutions(compatibleAutoMlRequest);

            if (apiResponse.IsSuccessStatusCode)
            {
                _compatibleAutoMl = Newtonsoft.Json.JsonConvert.DeserializeObject<GetCompatibleAutoMlSolutionsResponseDto>(apiResponse.Result.ToString());
                StateHasChanged();
                viewNotifier.Show(apiResponse.Message, ViewNotifierType.Success, L["Operation Successful"]);
            }
            else
            {
                viewNotifier.Show(apiResponse.Message + " : " + apiResponse.StatusCode, ViewNotifierType.Error, L["Operation Failed"]);
            }

            GetSupportedMlLibrariesRequestDto supportedMlLibrariesRequest = new GetSupportedMlLibrariesRequestDto { Task = AutoMLRequest.Task };
            apiResponse = await apiClient.GetSupportedMlLibraries(supportedMlLibrariesRequest);

            if (apiResponse.IsSuccessStatusCode)
            {
                _supportedMlLibraries = Newtonsoft.Json.JsonConvert.DeserializeObject<GetSupportedMlLibrariesResponseDto>(apiResponse.Result.ToString());
                StateHasChanged();
                viewNotifier.Show(apiResponse.Message, ViewNotifierType.Success, L["Operation Successful"]);
            }
            else
            {
                viewNotifier.Show(apiResponse.Message + " : " + apiResponse.StatusCode, ViewNotifierType.Error, L["Operation Failed"]);
            }
        }
        catch (Exception ex)
        {
            viewNotifier.Show(ex.GetBaseException().Message, ViewNotifierType.Error, L["Operation Failed"]);
        }
        UpdateParent();
    }

    private async void OnTargetChanged(string value)
    {
        ((AutoMLTabularDataConfiguration)AutoMLRequest.Configuration).Target.Target = value;
        foreach (KeyValuePair<string, Server.DataType> kvp in ((AutoMLTabularDataConfiguration)AutoMLRequest.Configuration).Feartures)
        {
            if (kvp.Key == value)
            {
                ((AutoMLTabularDataConfiguration)AutoMLRequest.Configuration).Target.Type = kvp.Value;
                break;
            }
        }
        UpdateParent();
    }

    private async void UpdateParent()
    {
        await AutoMLRequestChanged.InvokeAsync(AutoMLRequest);
        await CheckForNextStepCallback.InvokeAsync();
    }

    private async Task LoadData()
    {
        try
        {

            GetTabularDatasetColumnNamesRequestDto columnRequest = new GetTabularDatasetColumnNamesRequestDto { DatasetName = AutoMLRequest.DatasetName };
            ApiResponseDto apiResponse = await apiClient.GetTabularDatasetColumnNames(columnRequest);
            if (apiResponse.IsSuccessStatusCode)
            {
                _columnNames = Newtonsoft.Json.JsonConvert.DeserializeObject<GetTabularDatasetColumnNamesResponseDto>(apiResponse.Result.ToString());
                StateHasChanged();
                viewNotifier.Show(apiResponse.Message, ViewNotifierType.Success, L["Operation Successful"]);
            }
            else
            {
                viewNotifier.Show(apiResponse.Message + " : " + apiResponse.StatusCode, ViewNotifierType.Error, L["Operation Failed"]);
            }

            _tasks = new GetDatasetCompatibleTasksResponseDto();
            GetDatasetCompatibleTasksRequestDto taskRequest = new GetDatasetCompatibleTasksRequestDto { DatasetName = AutoMLRequest.DatasetName };
            apiResponse = await apiClient.GetDatasetCompatibleTasks(taskRequest);

            if (apiResponse.IsSuccessStatusCode)
            {
                _tasks = Newtonsoft.Json.JsonConvert.DeserializeObject<GetDatasetCompatibleTasksResponseDto>(apiResponse.Result.ToString());
                StateHasChanged();
                viewNotifier.Show(apiResponse.Message, ViewNotifierType.Success, L["Operation Successful"]);
            }
            else
            {
                viewNotifier.Show(apiResponse.Message + " : " + apiResponse.StatusCode, ViewNotifierType.Error, L["Operation Failed"]);
            }
        }
        catch (Exception ex)
        {
            viewNotifier.Show(ex.GetBaseException().Message, ViewNotifierType.Error, L["Operation Failed"]);
        }
    }
}
