@page "/admin/dblog"

@attribute [Authorize(Policy = Policies.IsAdmin)]
@layout AdminLayout
@inject IApiClient apiClient
@inject IMatToaster matToaster
@inject IStringLocalizer<Strings> L

<h1>Db Log Viewer</h1>
<p>
    Paginated viewing and fetching of system logs from the database.
</p>

@if (dbLogItems == null)
{
    <LoadingBackground ShowLogoBox="true">
        <label>@L["Loading"]</label>
    </LoadingBackground>
}
else
{
    <div class="row" style="margin-left: 0;">
        <RefreshTimer ElapsedEvent="@(async (_, __) => await LoadData())" />
    </div>

    <MatTable Items="@dbLogItems" Class="mat-elevation-z5" Striped="true" PageSize="@pageSize" ShowPaging="false">
        <MatTableHeader>
            <th>Timestamp</th>
            <th>Logging Level</th>
            <th>Log Message</th>
            <th>Exception</th>
            <th>Recorded Properties</th>
        </MatTableHeader>
        <MatTableRow>
            <td><span style="font-size:small">@context.TimeStamp.ToString()</span></td>
            <td><span style="font-size:small">@context.Level</span></td>
            <td><span style="font-size:small">@context.Message</span></td>
            <td><span style="font-size:small">@context.Exception?.ToString()</span></td>
            <td>
                @if (context.LogProperties?.Any() ?? false)
                    {
                    <ul>
                        @foreach (var propertyPair in context.LogProperties)
                            {
                            <li style="font-size:small">@($"{propertyPair.Key}:  {propertyPair.Value}")</li>
                            }
                    </ul>
                    }
            </td>
        </MatTableRow>
    </MatTable>
    <MatPaginator PageSize="@pageSize" Page="@(async a=> await OnPage(a))" Length="@logCountTotal" Style="background: transparent"></MatPaginator>
}

@code {
    List<DbLog> dbLogItems;

    private int pageSize { get; set; } = 10;
    private int pageIndex { get; set; } = 0;
    private int logCountTotal { get; set; } = 0;

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    async Task OnPage(MatPaginatorPageEvent e)
    {
        pageSize = e.PageSize;
        pageIndex = e.PageIndex;

        await LoadData();
    }

    protected async Task LoadData()
    {
        try
        {
            var result = await apiClient.GetLogs(null, pageSize, pageIndex * pageSize);

            dbLogItems = new List<DbLog>(result);
            logCountTotal = (int)result.InlineCount.Value;
            matToaster.Add($"Total Items: {logCountTotal}", MatToastType.Success, L["Operation Successful"]);

        }
        catch (Exception ex)
        {
            matToaster.Add(ex.GetBaseException().Message, MatToastType.Danger, L["Operation Failed"]);
        }

        await InvokeAsync(StateHasChanged);
    }
}
