@inherits LayoutComponentBase
@inject IUriHelper uriHelper

<MatDrawerContainer Style="width: 100vw; height: 100vh;" Class="@bbDrawerClass">
    <MatDrawer @bind-Opened="@_navMenuOpened">
        <header class="drawer-header">
            <div class="drawer-logo">
                <img alt="Blazor Boilerplate" class="logo-img" src="images/blazorboilerplate-dark.svg" title="Blazor Boilerplate">
                <a class="brand" href="/">Blazor Boilerplate</a>
            </div>
            <ProfileControl />
        </header>
        <NavMenu />
        <footer class="drawer-footer">
            <MatTooltip Tooltip="Help">
                <MatButton Icon="help" RefBack="@context" Link="https://github.com/enkodellc/blazorboilerplate"><span class="miniHidden">Help & Support</span></MatButton>
            </MatTooltip>
        </footer>
    </MatDrawer>
    <MatDrawerContent>
        <MatAppBarContainer>
            <MatAppBar Fixed="true">
                <MatAppBarRow>
                    <MatAppBarSection>
                        <MatAppBarTitle>

                        </MatAppBarTitle>
                        <div class="hidden-mdc-down">
                            @*<nav>
                                <ul>
                                    <li>*@
                                <MatTooltip Tooltip="Toggle Navigation">
                                    <MatIconButton Class="navToggle" Icon="menu" ToggleIcon="menu" OnClick="@((e) => NavToggle())" RefBack="@context"></MatIconButton>
                                </MatTooltip>
                                @*</li>
                                    <li>*@
                                <MatTooltip Tooltip="Minify Navigation">
                                    <MatIconButton Class="navToggle" Icon="format_indent_decrease" ToggleIcon="format_indent_increase" OnClick="@((e) => NavMinify())" RefBack="@context"></MatIconButton>
                                </MatTooltip>
                                @*</li>
                                <li>
                                    <MatTooltip Tooltip="Lock Navigation" >
                                        <MatIconButton Class="navToggle" Icon="lock" ToggleIcon="radio_button_unchecked" OnClick="@((e) => NavLock())" RefBack="@context"></MatIconButton>
                                    </MatTooltip>
                                    </li>*@
                                @*</ul>
                            </nav>*@
                        </div>
                    </MatAppBarSection>
                    <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                        <MatTooltip Tooltip="Donate to Support">
                            <MatIconButton Link="https://www.paypal.me/enkodellc" RefBack="@context"><i class="fa fa-cc-paypal"></i></MatIconButton>
                        </MatTooltip>
                        <MatTooltip Tooltip="Github Repository">
                            <MatIconButton Link="https://github.com/enkodellc/blazorboilerplate" RefBack="@context"><i class="fa fa-github" aria-hidden="true"></i></MatIconButton>
                        </MatTooltip>
                        <LoginControl></LoginControl>
                    </MatAppBarSection>
                </MatAppBarRow>
            </MatAppBar>
            <MatAppBarContent>
                @*<div class="breadcrumb">
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                    </ul>
                    </div>*@
                <section class="container-fluid">
                    @Body
                </section>
                <footer class="page-footer">
                    <div class="flex-1">
                        © 2019 <a href="//blazorboilerplate.com">Blazor Boilerplate</a> Version 0.1.6 - Developed by <a href="https://keithfimreite.com" target="_blank">Enkode LLC</a>
                    </div>
                </footer>
            </MatAppBarContent>
        </MatAppBarContainer>
    </MatDrawerContent>
</MatDrawerContainer>

@functions {
    bool _navMenuOpened = true;
    bool _navMinified = false;
    public string bbDrawerClass = "";

    protected override async Task OnInitAsync()
    {
        // Uncomment to secure entire app
        //if (!(await AuthenticationState).User.Identity.IsAuthenticated)
        //{
        //    uriHelper.NavigateTo("/account/login");
        //}

        // Default landing page
        //uriHelper.NavigateTo("/");
    }

    void NavToggle()
    {
        _navMenuOpened = !_navMenuOpened;
        if (_navMenuOpened)
        {
            bbDrawerClass = "full";
        }
        else
        {
            bbDrawerClass = "closed";
        }

        this.StateHasChanged();
    }

    void NavLock()
    {
        //Todo Lock Nav
    }

    void NavMinify()
    {
        _navMinified = !_navMinified;

        if (!_navMenuOpened)
        {
            _navMinified = true;
        }

        if (_navMinified)
        {
            bbDrawerClass = "mini";
            _navMenuOpened = true;
        }
        else if (_navMenuOpened)
        {
            bbDrawerClass = "full";
        }

        _navMenuOpened = true;
        this.StateHasChanged();
    }
}
