@page "/fileupload"
@using System.IO;
@using System.Net.Http.Headers

@inject HttpClient client

<h1>.NET 5.0 Blazor InputFile Options</h1>
<p>Investigating the <b>InputFile</b> component</p>
<div>
    <div class="inputArea">
        <InputFile id="inputDefault"
                   OnChange="OnInputFileChange"
                   accept="image/png,image/gif,image/jpeg" />
    </div>
    <div class="dropArea @dropClass">
        Drag and drop your files here or click to open file loading dialogue...
        <InputFile id="inputDrop"
                   OnChange="OnInputFileChange"
                   @ondragenter="HandleDragEnter"
                   @ondragleave="HandleDragLeave"
                   multiple />
    </div>

    @if (files != null && files.Count > 1)
    {
        <div>
            <ul>
                @foreach (var file in files)
                {
                    <li>@file.Name</li>
                }
            </ul>
        </div>}
    @if (urls.Count > 0)
    {
        foreach (var url in urls)
        {
            <br />
            <a href="@url" download>@url</a>}
    }
</div>

@code { IReadOnlyList<IBrowserFile> files;
    List<string> urls = new List<string>();
    string dropClass = string.Empty;
    const int maxFileSize = 10485760;

    private void HandleDragEnter()
    {
        dropClass = "dropAreaDrug";
    }

    private void HandleDragLeave()
    {
        dropClass = string.Empty;
    }

    async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        dropClass = string.Empty;
        try
        {
            if (e.FileCount > 1)
            {
                files = e.GetMultipleFiles();
                urls.Clear();
                urls.AddRange(await SaveFiles(files));
            }
            else
            {
                files = null;

                var url = await SaveFile(e.File);
                urls.Clear();
                urls.Add(url);
            }
        }
        catch (Exception ex)
        {
            System.Diagnostics.Debug.WriteLine(ex.Message);
            throw;
        }
    }

    private async Task<List<string>> SaveFiles(IReadOnlyList<IBrowserFile> files)
    {
        var list = new List<string>();
        var guid = Guid.NewGuid().ToString();

        foreach (var file in files)
        {
            var url = await SaveFile(file, guid);
            list.Add(url);
        }
        return list;
    }

    private async Task<string> SaveFile(IBrowserFile file, string guid = null)
    {
        if (guid == null)
        {
            guid = Guid.NewGuid().ToString();
        }

        var relativePath = Path.Combine("uploads", guid);
        var dirToSave = Path.Combine("", relativePath);
        var di = new DirectoryInfo(dirToSave);
        if (!di.Exists)
        {
            di.Create();
        }

        var filePath = Path.Combine(dirToSave, file.Name);
        using (var stream = file.OpenReadStream(maxFileSize))
        {
            using (var mstream = new MemoryStream())
            {
                await stream.CopyToAsync(mstream);
                await File.WriteAllBytesAsync(filePath, mstream.ToArray());
            }
        }

        var url = Path.Combine(relativePath, file.Name).Replace("\\", "/");
        return url;
    } }



<h1>Please upload new file to the hosted server</h1>
<InputFile OnChange="@SendData" />
<div>

    @if (@imageData.Count > 0)
    {
        <img src="@imageData[0]" width="200" />

    }
</div>


@code { private List<string> imageData = new List<string>();

    private async Task SendData(InputFileChangeEventArgs eventArgs)
    {
        var file = eventArgs.File;

        var content = new MultipartFormDataContent();
        content.Headers.ContentDisposition = new ContentDispositionHeaderValue("form-data");
        content.Add(new StreamContent(file.OpenReadStream(), Convert.ToInt32(file.Size)), "file", file.Name);
        await client.PostAsync("", content);
        await LoadImage(file);
    }

    async Task LoadImage(IBrowserFile file)
    {
        long maxFileSize = 1024 * 1024 * 15;
        using var fileStream = file.OpenReadStream(maxFileSize);
        using var memoryStream = new MemoryStream();
        await fileStream.CopyToAsync(memoryStream);
        imageData.Add($"data:png;base64,{Convert.ToBase64String(memoryStream.ToArray())}");
    } }

