@inherits ConfirmEmailPage
@page "/account/confirmemail"
@page "/account/confirmemail/{UserId}"

@layout LoginLayout

@if (string.IsNullOrEmpty(UserId))
{
    <MudCard>
        <div class="logo">
            <img src="_content/BlazorBoilerplate.Theme.Material/images/logo.svg" style="width:100px;" /><br />BlazorBoilerplate
            <br />
            <h4>@L["Confirm Email"]</h4>
        </div>
        <EditForm Model="@confirmEmailViewModel" OnValidSubmit="@SendConfirmation">
            <FluentValidationValidator />
            <ValidationSummary />
            <fieldset>
                <div class="form-group">
                    <MudTextField @bind-Value="@confirmEmailViewModel.UserId" Label="UserId" AdornmentIcon="@Icons.Material.Filled.Person" Adornment="Adornment.End" FullWidth="true" Required="true"></MudTextField>
                </div>
                <div class="form-group">
                    <MudTextField @bind-Value="@confirmEmailViewModel.Token" Label="Token" AdornmentIcon="@Icons.Material.Outlined.Lock" Adornment="Adornment.End" FullWidth="true" Required="true"></MudTextField>
                </div>
                <div class="form-group d-flex justify-content-end">
                    <MudButton Type="submit" Raised="true" Disabled="@disableConfirmButton">@L["Send Confirmation"]</MudButton>
                </div>
            </fieldset>
        </EditForm>
    </MudCard>
}
else
{
    <LoadingBackground ShowLogoBox="true">
        <label>@L["Email confirmation in progress"]</label>
    </LoadingBackground>
}

@code {
}
