@inherits ResetPasswordPage
@page "/account/resetpassword"
@page "/account/resetpassword/{UserId}"
@layout LoginLayout

<MudCard>
    <div class="logo">
        <img src="_content/BlazorBoilerplate.Theme.Material/images/logo.svg" style="width:100px;" /><br />BlazorBoilerplate
        <br />
        <h4>@L["Password Reset"]</h4>
    </div>
    <EditForm Model="@resetPasswordViewModel" OnValidSubmit="@SendResetPassword">
        <FluentValidationValidator />
        <ValidationSummary />
        <fieldset>
            <div class="form-group">
                <MudTextField @bind-Value="@resetPasswordViewModel.Password" Label=@L["Password"] AdornmentIcon="@Icons.Material.Outlined.Lock" Adornment="Adornment.End" FullWidth="true" Required="true" InputType="InputType.Password"></MudTextField>
            </div>
            <div class="form-group">
                <MudTextField @bind-Value="@resetPasswordViewModel.PasswordConfirm" Label=@L["Password Confirmation"] AdornmentIcon="@Icons.Material.Outlined.Lock" Adornment="Adornment.End" FullWidth="true" Required="true" InputType="InputType.Password"></MudTextField>
            </div>
            <div class="form-group d-flex justify-content-end">
                <MudButton Type="submit" Raised="true">@L["Reset Password"]</MudButton>
            </div>
        </fieldset>
        <hr />
        <NavLink href="/">
            <h6 class="font-weight-normal text-center">@L["Cancel"]</h6>
        </NavLink>
    </EditForm>
</MudCard>

@code {

}
