@inject IStringLocalizer<Global> L
@using System
@inject IApiClient apiClient
@inject IViewNotifier viewNotifier
@inject NavigationManager NavManager


<MatTable Items="@DatasetResponse" style="width:stretch" class="mat-elevation-z5" AllowSelection="false">
    <MatTableHeader>
        <th>Name</th>
        <th>Rows</th>
        <th>Columns</th>
        <th>Date</th>
        <th></th>
    </MatTableHeader>
    <MatTableRow>
        <td>
            <a href="@NavManager.ToAbsoluteUri("datasets/" + @context.Name + "/1").AbsoluteUri" Style="cursor: pointer;">@context.Name</a>
        </td>
        <td>@context.Rows</td>
        <td>@context.Columns</td>
        <td style="white-space:nowrap;">@context.Creation_date.ToString("yyyy-MM-dd")</td>
        <td>
            <DatasetMenu OpenDataset="OpenDataset" HandleClick="@(() => HandleDatasetChanged(context))"></DatasetMenu>
        </td>
    </MatTableRow>
</MatTable>

@code {
    [Parameter]
    public List<GetDatasetsResponseDto> DatasetResponse { get; set; }

    public string DatasetName;


    protected void OpenDataset(){
        NavManager.NavigateTo(NavManager.ToAbsoluteUri("datasets/" + DatasetName).AbsoluteUri);
    }

    private async void HandleDatasetChanged(GetDatasetsResponseDto obj)
    {
        DatasetName = obj.Name;
    }
}