@inject IStringLocalizer<Global> L
@using System
@inject IApiClient apiClient
@inject IViewNotifier viewNotifier
@inject NavigationManager NavManager


<MatTable Items="@DatasetResponse" style="width:stretch" class="mat-elevation-z5" AllowSelection="false">
    <MatTableHeader>
        <th>Name</th>
        <th>Rows</th>
        <th>Columns</th>
        <th>Date</th>
        <th></th>
    </MatTableHeader>
    <MatTableRow>
        <td>
            <a href="" Style="cursor: pointer;" @onclick="@(() => { Console.WriteLine("Hello"); })">@context.Name</a>
        </td>
        <td>@context.Rows</td>
        <td>@context.Columns</td>
        <td style="white-space:nowrap;">@context.Creation_date.ToString("yyyy-MM-dd")</td>
        <td>
            <MatButton Label="Menu" Style="float: right" OnClick="@((e) => {  OnClick(e); HandleDatasetChanged(context); })" @ref="Button"></MatButton>
            <MatMenu @ref="Menu">
                <MatList>
                    <MatListItem @onclick="OpenDataset">Train</MatListItem>
                    <MatListItem>Delete</MatListItem>
                </MatList>
            </MatMenu>
        </td>
    </MatTableRow>
</MatTable>

@code {
    [Parameter]
    public List<GetDatasetsResponseDto> DatasetResponse { get; set; }

    public string DatasetName;

    MatButton Button;
    BaseMatMenu Menu;

    public void OnClick(MouseEventArgs e)
    {
        this.Menu.OpenAsync(Button.Ref);
    }

    protected void OpenDataset(){
        NavManager.NavigateTo(NavManager.ToAbsoluteUri("datasets/" + DatasetName).AbsoluteUri);
    }

    private async void HandleDatasetChanged(GetDatasetsResponseDto obj)
    {
        DatasetName = obj.Name;
    }
}