@page "/login"
@layout LoginLayout
@inject IUriHelper uriHelper
@inject BlazorAuthenticationState state
@inject IMatToaster matToaster
@*TODO: Add client-side validation*@

<MatCard>
    <div class="logo">
        <img src="images/blazorboilerplate.svg" style="width:100px;" /><br />Blazor Boilerplate
        <br />
        <h4>Log In</h4>
        Email: <b>user@blazorboilerplate.com</b> Password: <b>user123</b>        
    </div>

    <fieldset>
        <div class="form-group">
            <MatTextField @bind-value="@loginParameters.UserName" Label="Username" Icon="person" IconTrailing="true" FullWidth="true" Required="true"></MatTextField>
        </div>
        <div class="form-group">
            <MatTextField @bind-value="@loginParameters.Password" Label="Password" Icon="lock_outline" IconTrailing="true" FullWidth="true" Required="true" Type="password"></MatTextField>
        </div>
        <div class="form-group">
            <MatCheckbox @bind-Checked="@loginParameters.RememberMe" class="filled-in chk-col-blue">Remember Me</MatCheckbox>
            <MatButton class="float-right" OnClick="@SubmitLogin" Raised="true">Login</MatButton>
        </div>
        <hr />
        <NavLink href="register">
            <h6 class="font-weight-normal text-center">Create account</h6>
        </NavLink>
    </fieldset>
</MatCard>
<MatAccordion>
    <MatExpansionPanel @bind-Expanded="@forgotPasswordToggle">
        <MatExpansionPanelSummary>
            <MatExpansionPanelHeader>Forgot Password?</MatExpansionPanelHeader>
            <MatExpansionPanelSubHeader></MatExpansionPanelSubHeader>
        </MatExpansionPanelSummary>
        <MatExpansionPanelDetails>
            <div class="form-group">
                <MatTextField @bind-value="@forgotPasswordEmail" Label="Email" Icon="mail_outline" IconTrailing="true" FullWidth="true" Required="true"></MatTextField>
            </div>
            <div class="form-group">
                <MatButton class="float-right" OnClick="@ResetPassword" Raised="true">Submit</MatButton>
            </div>
        </MatExpansionPanelDetails>
    </MatExpansionPanel>
</MatAccordion>

@functions {
    bool forgotPasswordToggle = false;
    LoginParameters loginParameters { get; set; } = new LoginParameters();
    string forgotPasswordEmail;

    async Task SubmitLogin()
    {
        try
        {
            await state.Login(loginParameters);
            uriHelper.NavigateTo("/counter");
        }
        catch (Exception ex)
        {
            matToaster.Add(ex.Message, MatToastType.Danger, "Login Attempt Failed");
        }
    }

    async Task ResetPassword()
    {
        try
        {
            @*TODO: Add Forgot Password *@
            matToaster.Add("Forgot Passwoord is TBD", MatToastType.Warning, "Not Implemented");
            //await state.SendPasswordResetEmail(forgotPasswordEmail);

        }
        catch (Exception ex)
        {
            matToaster.Add(ex.Message, MatToastType.Danger, "Reset Password Attempt Failed");
        }
    }
}
